<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link       rel="stylesheet"       href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous"      />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./all.css">
</head>

<body>
    <div id="app" class="todos">
        <h1>Todo List</h1>
        <h2>Get things done, one item at a time.</h2>
        <div class="add-new-item">
            <input type="text" placeholder="加入一個新工作" class="new-item" v-model="newTodo" @keyup.enter="addTodo">
            <button class="btn-add" type="button" @click="addTodo">ADD ITEM</button>
        </div>
        <ul class="todo-list">

            <li class="todoItem" v-for="(item,key) in filteredTodos" @dblclick="editTodo(item)">

                <div class="todoDescription" v-if="item.id !==cacheTodo.id">

                    <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                    <label class="form-check-label" :class="{'completed':item.completed}" :for="item.id">
                        <p> {{item.title}}</p>




                    </label>

                    <button type="button" class="btn-delete" @click="removeTodo(item)"><i aria-hidden="true"
                            class="material-icons">delete</i></button>
                    <br>
                </div>
                <input type="text" class="form-control" v-if="item.id ===cacheTodo.id" v-model="cacheTitle"
                    @keyup.esc="cancelEdit()" @keyup.enter="doneEdit(item)">



            </li>



        </ul>

        <div class="control">
            <a href="#" class="btn" :class="{'active':visibility == 'all'}" @click="visibility='all'">All</a>
            <a href="#" class="btn" :class="{'active':visibility == 'active'}" @click="visibility='active'">In
                Progress</a>
            <a href="#" class="btn" :class="{'active':visibility == 'completed'}"
                @click="visibility='completed'">Finished</a>
            <a class="btn" href="#" @click="clearAll">Clear All</a>
        </div>


        <div class="footer">
            <span>還有 {{undoneRecords }} 筆任務未完成</span>



        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="all.js"></script>

</body>

</html>